@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

h1 {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 400; 
    font-size: 22pt;        
}

h2 {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 400; 
    font-size: 18pt;        
}

h3 {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 400; 
    font-size: 12pt;        
}


h4 {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 400; 
    font-size: 11pt;        
}



.page-header {
    text-align: center;
    padding: none;
    margin: none;
    margin-top:100px;
    border: none;
}


/* Syllabus style
-------------------------------------------------- */


.syllabus {
    margin: 0 auto;
    color: #333;
    margin-bottom: 100px;
}

.syllabus li {
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    background: white;
}

.number {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 400; 
    font-size: 12pt;   
    color: #333;
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 0.9em;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 650px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}