{% extends "base.html" %}

    {% block subtitle %}
    {% endblock %}

    {% block head %}
    {{ super() }}
    <a href="https://github.com/gureckis/collecting_behavioral_data_online"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
    {% endblock %}


    {% block breadcrumbs %}
      {{ super() }}
      <li class="active"><h4>collecting behavioral data online</h4></li>
    {% endblock %}


          {% block pagetitle %}
          <h1>collecting behavioral data online.</h1>
          <h3>a course by <a href="http://gureckislab.org/~gureckis">todd m. gureckis</a></h3>
          {% endblock %}


          {% block pagecontent %}
          <p> 
              This class teaches the art, science, and technology necessary to collect
              useful behavioral data online for psychology, marketing, and computer 
              science.  It is composed of 11 video lectures, readings, and a
              variety of technical tutorials.  Anyone can use these materials if they
              find them useful, but please reference this site.  
          </p>

          <a class="btn btn-default btn-sm" href="syllabus.html">
            <span class="glyphicon glyphicon-star"></span> Spring 2014 syllabus
          </a>

          <hr>

          <h3>Lectures</h3>
          <ol class="syllabus">
            <li>Online data collection: A revolution for behavioral science?  Or a curse?</li>
            <li>View from the other side - worker issues</li>
            <li>Using built-in Amazon tools, Qualtrics</li>
            <li>Open source software, git, and how to teach yourself stuff</li>
            <li>Introduction to <b>psiTurk</b> (download install, discuss features)</li>
            <li>Introduction to the <b>psiTurk</b> command line, run example experiment</li>
            <li>Debugging and developing using <b>psiTurk</b></li>
            <li>Deploying using <b>psiTurk</b>, using advanced database solutions</li>
            <li>Getting your data out of database for analysis</li>
            <li>Designing for quality data</li>
            <li>Advanced topics - running experiments over multiple days/sessions, group experiments</li>
          </ol>
          {% endblock %}


    {% block dynamics %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <script type="text/javascript">
        d3.selectAll(".syllabus li").on("mouseenter",function (d,i) { 
                d3.select(this).style("background","lightblue"); 
        }).on("mouseleave",function (d,i) { 
                d3.select(this).transition().duration(800).style("background","white"); 
        });
      </script>
    {% endblock %}
