{% extends "base.html" %}

    {% block subtitle %}
    {% endblock %}

    {% block head %}
    {{ super() }}
    <a href="https://github.com/gureckis/collecting_behavioral_data_online"><img style="position: absolute; top: 100; right: 0; border: 0;  z-index: 999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
    {% endblock %}



    {% block breadcrumbs %}
      {{ super() }}
      <li class="active"><h4>collecting behavioral data online</h4></li>
    {% endblock %}


          {% block pagetitle %}


          <h1>collecting behavioral data online.</h1>
          <h3>a course by <a href="http://gureckislab.org/~gureckis">todd m. gureckis</a></h3>
<br>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

          <center>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="todd_gureckis">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="fb-like" data-href="http://gureckislab.org/courses/spring14/online_data_collection/" data-layout="button_count" data-action="recommend" data-show-faces="false" data-share="false"></div>
          </center>

          {% endblock %}


          {% block pagecontent %}
          <p> 
              This class teaches the art, science, and technology necessary to collect
              useful behavioral data online for psychology, marketing, and computer 
              science.  It is composed of 13 video lectures, readings, and a
              variety of technical tutorials.  Anyone can use these materials if they
              find them useful, but please reference this site.  
          </p>

          <center>

          <a class="btn btn-default btn-sm" href="syllabus.html">
            <span class="glyphicon glyphicon-star"></span> Spring 2014 syllabus
          </a>

          <a class="btn btn-default btn-sm" href="https://github.com/gureckis/collecting_behavioral_data_online/">
            <span class="glyphicon glyphicon-star"></span> Class git repo
          </a>

          <a class="btn btn-default btn-sm" href="https://github.com/gureckis/collecting_behavioral_data_online/wiki">
            <span class="glyphicon glyphicon-star"></span> Class wiki: Ask questions here
          </a>
          
          </center>

          <hr>

          <h3>Lectures</h3>
          <ol class="syllabus">
            <li><a href="lecture1.html">General introduction/organization</a></li>
            <li><a href="lecture2.html">Online data: A revolution for behavioral science? Or perhaps a curse?</a></li>
            <li><a href="lecture3.html">Views from the other side of a request online</a></li>
            <li>Starting simple: Using built-in Amazon tools, Google Forms, or Qualtrics</li>
            <li>Drawing things to the browser window, manipulating DOM</li>
            <li>Open source software, git, and how to teach yourself stuff</li>
            <li>Introduction to <b>psiTurk</b> (download install, discuss features)</li>
            <li>Introduction to the <b>psiTurk</b> command line, run example experiment</li>
            <li>Debugging and developing using <b>psiTurk</b></li>
            <li>Deploying using <b>psiTurk</b>, using advanced database solutions</li>
            <li>Getting your data out of database for analysis</li>
            <li>Designing for quality data</li>
            <li>Advanced topics - running experiments over multiple days/sessions, group experiments</li>
          </ol>

          {% endblock %}


    {% block dynamics %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <script type="text/javascript">
        d3.selectAll(".syllabus li").on("mouseenter",function (d,i) { 
                d3.select(this).style("background","lightblue"); 
        }).on("mouseleave",function (d,i) { 
                d3.select(this).transition().duration(800).style("background","white"); 
        });
      </script>
    {% endblock %}
