{% extends "base.html" %}

    {% block subtitle %}
    (Lecture 5)
    {% endblock %}

    {% block breadcrumbs %}
      {{ super() }}
      <li><h4><a href="./">collecting behavioral data online</a></h4></li>
      <li class="active">Lecture 5</li>
    {% endblock %}


          {% block pagetitle %}
          <h2>Lecture 5:</h2><h1>Drawing things to the browser window, manipulating DOM</h1>
          {% endblock %}


          {% block pagecontent %}

          <center>
          <a class="btn btn-default btn-md" href="slides.html?lecture=5">
            <span class="glyphicon glyphicon-play-circle"></span> Lecture 5 Slide Deck
          </a>
          </center>

          <br><br>
          <p>
              This week (and partly next week) we are going to 
              do an in-class exercise on programming in the browser, manipulating
              the DOM, and adding buttons which accept user interaction.
          </p>

          <hr>

          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Video 5.1</h3>
            </div>
            <div class="panel-body">
              <div class="row">
              <div class="span6">
              <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                  <p>
                    Drawing and animating in the browser.
                  </p>
                  <iframe src="//player.vimeo.com/video/88841462" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div> 
              </div>
              </div>
            </div>
          </div>

      
          <hr>

          <h3>Assignments</h3>

          In class, and in the view, we step through these items
          <ol>
            <li>Write a function to draw a stimulus on the screen (e.g., a circle)</li>
            <li>Add a button to advance to the next trial</li>
            <li>Display a sequence of trials</li>
          </ol>

          Please try to follow along with these steps to make your own basic experiment.

            <div class="media">
              <a class="pull-left" href="files/custom.js">
                <span class="glyphicon glyphicon-bookmark"></span>
              </a>
              <div class="media-body">
                This is a direct link to the file I created in the video (<a href="files/custom.js">custom.js</a>)
              </div>
            </div>
          <hr>

          <h3>Assigned Readings</h3>


            <div class="media">
              <a class="pull-left" href="http://alignedleft.com/tutorials/d3/fundamentals">
                <span class="glyphicon glyphicon-bookmark"></span>
              </a>
              <div class="media-body">
                Scott Murray's <a href="http://alignedleft.com/tutorials/d3/fundamentals">Fundamentals of d3.js</a>
              </div>
            </div>

            <div class="media">
              <a class="pull-left" href="http://alignedleft.com/tutorials/d3/setup">
                <span class="glyphicon glyphicon-bookmark"></span>
              </a>
              <div class="media-body">
                Scott Murray's <a href="http://alignedleft.com/tutorials/d3/setup">Setup of d3.js</a>
              </div>
            </div>

            <div class="media">
              <a class="pull-left" href="http://alignedleft.com/tutorials/d3/adding-elements">
                <span class="glyphicon glyphicon-bookmark"></span>
              </a>
              <div class="media-body">
                Scott Murray's <a href="http://alignedleft.com/tutorials/d3/adding-elements">Adding element with d3.js</a>
              </div>
            </div>

            <div class="media">
              <a class="pull-left" href="http://alignedleft.com/tutorials/d3/chaining-methods">
                <span class="glyphicon glyphicon-bookmark"></span>
              </a>
              <div class="media-body">
                Scott Murray's <a href="http://alignedleft.com/tutorials/d3/chaining-methods">Chaining methods d3.js</a>
              </div>
            </div>
          <br>
          {% endblock %}
