{% extends "base.html" %}

    {% block subtitle %}
    (Lecture 1)
    {% endblock %}

    {% block breadcrumbs %}
      {{ super() }}
      <li><h4><a href="./">collecting behavioral data online</a></h4></li>
      <li class="active">Lecture 1</li>
    {% endblock %}


          {% block pagetitle %}
          <h2>Lecture 1:</h2><h1>General introduction/class organization</h1>
          {% endblock %}


          {% block pagecontent %}

          <center>
          <a class="btn btn-default btn-md" href="slides.html?lecture=1">
            <span class="glyphicon glyphicon-play-circle"></span> Lecture 1 Slide Deck
          </a>
          </center>

          <br><br>
          <p>
              Today we will go over the basic mechanics of the course.  There are no
              other assignments or readings required before class.
          </p>


          {% endblock %}
