{% extends "base.html" %}

    {% block subtitle %}
    Lecture 1
    {% endblock %}

    {% block breadcrumbs %}
      {{ super() }}
      <li><h4><a href="index.html">collecting behavioral data online</a></h4></li>
      <li class="active">Lecture 1</li>
    {% endblock %}


          {% block pagetitle %}
          <h2>Lecture 1:</h2><h1>A revolution for behavioral science?<br>Or a curse?</h1>
          {% endblock %}


          {% block pagecontent %}
          <p>
              Today we will talk in general terms about 
              online data collection.  What are the advantages?  What are
              the disadvantages?  What unique technical hurdles must you
              surmount in order to collect online data?  This lecture will
              provide a general overview of the topics we will be considering
              in class.
          </p>

          <hr>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Video Lecture</h3>
          </div>
          <div class="panel-body">
            <div class="row">
            <div class="span6">
            <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                 <iframe allowfullscreen="" src="http://player.vimeo.com/video/71876963" frameborder="0" width="500" height="281"></iframe>
            </div> 
            </div>
            </div>
          </div>
        </div>

          <hr>

          <h3>Readings</h3>

            <div class="media">
              <a class="pull-left" href="mypdf.pdf">
                <span class="glyphicon glyphicon-cloud-download"></span>
              </a>
              <div class="media-body">
                Crump M.J.C., McDonnell, J.V., and Gureckis, T.M. (2013) Evaluating Amazon's Mechanical Turk as a Tool for Experimental Behavioral Research. PLoS ONE 8(3): e57410.
              </div>
            </div>

            <div class="media">
              <a class="pull-left" href="mypdf.pdf">
                <span class="glyphicon glyphicon-cloud-download"></span>
              </a>
              <div class="media-body">
                Crump M.J.C., McDonnell, J.V., and Gureckis, T.M. (2013) Evaluating Amazon's Mechanical Turk as a Tool for Experimental Behavioral Research. PLoS ONE 8(3): e57410.
              </div>
            </div>
          {% endblock %}
