{% extends "base.html" %}

    {% block subtitle %}
    Syllabus Spring 2014
    {% endblock %}

    {% block breadcrumbs %}
      <li><h4><a href="index.html">collecting behavioral data online</a></h4></li>
      <li class="active">Syllabus Spring 2014</li>
    {% endblock %}


          {% block pagetitle %}
          <h3>Spring 2014</h3><h1>Syllabus</h1>
          {% endblock %}


          {% block pagecontent %}
          <p>
            This is a graduate course in the <a href="http://psych.nyu.edu">psychology department</a> at NYU.  The following document describes the policies and grading proceedure.
          </p>

          <hr>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Overview</h3>
              </div>
              <div class="panel-body">
                The aim of this seminar course is explore using the Internet to collect behavioral data.
                The course is structured to be very hands-on.  Students will be expected to program
                an experiment relevant to their research goals by the end of the class.  The course
                will be taughted using a "<a href="http://www.knewton.com/flipped-classroom/">flipped classroom</a>" design.  The lectures and readings
                will be posted on this webpage <strong>before</strong> class.  Students will be expected to watch
                the videos and follow along with the instruction <strong>before</strong> they come to class.
                In class time will be spent entirely in constructive conversation, debugging, talking
                with other students about problems that came up, etc...  The idea is that you can get
                the lecture stuff offline on your own time/pace but in class time it is more valueable
                to get hands-on help from other students and from the professor.
              </div>
            </div>

          <hr>
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">Blurb</h3>
              </div>
              <div class="panel-body">

              Online data collection is revolutionizing many aspects of experimental psychology by allowing
              access to large and (potentially) diverse participant populations.  Online collection may be
              useful for many creative research applications including stimulus generation/norming, crowd-based 
              computation (e.g., obtaining independent coding or raters for laboratory collected data), group
              experiments that require multiple participants to interact simultaneously, or simply running standard 
              experiments quickly and with large sample sizes.  However, the skills required to successfully 
              manage an online experiment are somewhat more complex than a traditional experiment design.  
              For example, researchers need to have an understanding of web servers, databases, encryption, 
              cross-browser web programming, etc..  The goal of this course is to teach students in a hands-on 
              way how to collect data online.  Topics covered include how to maximize the quality of online data 
              collection, how to design dynamic experiments that run in a browser, the limits to what browsers 
              can record in terms of reaction time or stimulus timing, and how to maximize the chance that 
              participants can view your experiment successfully.  The goal will be to have everyone in class 
              make an online experiment useful for their research by the end of the semester.  
              Specific skills taught include the basics of Javascript, databases/SQL, Amazon's Mechanical Turk, 
              and a bit of Python.  Gaining basic proficiency with these topics will not only increase your 
              overall research productivity but also are also in heavy demand in industry.  

              </div>
            </div>

          <hr>
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Computer requirement</h3>
              </div>
              <div class="panel-body">
                Everyday in class we will be working on computers
                and the Internet.  You will need a laptop to take this course because it is
                not being held in a computer lab (the NYU computer lab does not have Internet
                access).  In an extreme case a loaner laptop may be made available however
                this is not an ideal situation since you won't be able to keep your system
                setup to work at home.  In addition, it is preferred that you use Mac OS X or Linux/Unix.
                Windows will have considerable problems with the software.  If you really must
                use windows I will help you set up with a remote unix server that you can
                log into.  Note, acceptable Linux-based laptops can be had for a little as <a href="https://www.google.com/search?q=linux+laptop&oq=linux+laptop&aqs=chrome..69i57j0l5.1646j0j7&sourceid=chrome&espv=210&es_sm=119&ie=UTF-8#q=linux+laptop&tbm=shop&tbs=vw:l,cat:328,pdtr0:703981%7C903840,price:1,ppr_max:250&spd=0">$150-200</a> (similar to the cost of some textbooks).  I'm sorry if this 
                requirement is a pain or seems "politically" insensitive, but if you are serious about 
                getting online data a unix-based system is a <strong>much</strong> better place to start.
              </div>
            </div> 

          <hr>
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">Grading</h3>
              </div>
              <div class="panel-body">
                Active class participation (15%), final project (85%).  This is a learn by
                doing class.  What you put in you will get out (specifically, an experiment 
                you can run online with hundreds or thousands of participants).
              </div>
            </div>

          <hr>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Textbook</h3>
              </div>
              <div class="panel-body">
                There is no textbook for the course.  Many handouts, reading, blog posts, and other
                resources will be shared each week.  Students are expected to read this material
                before class.
              </div>
            </div>

          <hr>
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Time commitment</h3>
              </div>
              <div class="panel-body">
                This class may involve a significant time commitment.  All online experiment work
                does because it involves programming which can (at times) be fustrating and
                result in hours of lost time due to small bugs/typos.  Do not take this course if
                you do not really want to put together an online experiment for your research.
                It just won't be worth it if you only have a passing interest in online experimentation.
              </div>
            </div>            

          <hr>
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">Schedule</h3>
              </div>
              <div class="panel-body">
                The class schedule will roughly follow the outline <a href="index.html">here</a>.
              </div>
            </div>  
          {% endblock %}
